# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:ArcherBarbarian=false
    B:ArcherPirate=false
    B:Barbarian=false
    B:Blaze=false
    B:Blazinator=false
    B:Blazvoker=false
    B:BrainyZombie=true
    B:CaveSpider=true
    B:ChiefBarbarian=false
    B:ChiefPirate=false
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:Dragovoker=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:Endcator=false
    B:EnderDragon=false
    B:Enderman=false
    B:Endermite=false
    B:EntityAnvilPet=false
    B:EntityBedPet=false
    B:EntityGrimReaper=false
    B:EvocationIllager=false
    B:Firebat=false
    B:Frostman=false
    B:Frostoker=false
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=true
    B:GuardIllager=false
    B:Guardian=false
    B:Human=false
    B:Husk=true
    B:IllusionIllager=false
    B:InhabitedZombie=true
    B:LavaSlime=false
    B:MindSpider=true
    B:MiniQuantumBlaze=false
    B:MiniQuantumEnderman=false
    B:Pech=false
    B:PigZombie=false
    B:Pirate=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:SkullHead=false
    B:Slime=false
    B:Snowicator=false
    B:Snowman=false
    B:Spellbat=false
    B:Spider=true
    B:StoneGolem=false
    B:Stonevoker=false
    B:Stray=true
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:Vex=false
    B:VindicationIllager=false
    B:Wisp=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:abaia=false
    B:abtu=false
    B:abyssalcraft.Jzahar=false
    B:abyssalcraft.abygolem=false
    B:abyssalcraft.abyssalzombie=false
    B:abyssalcraft.antiabyssalzombie=false
    B:abyssalcraft.anticreeper=false
    B:abyssalcraft.antighoul=false
    B:abyssalcraft.antiplayer=false
    B:abyssalcraft.antiskeleton=false
    B:abyssalcraft.antispider=false
    B:abyssalcraft.antizombie=false
    B:abyssalcraft.chagaroth=false
    B:abyssalcraft.chagarothfist=false
    B:abyssalcraft.chagarothspawn=false
    B:abyssalcraft.demonchicken=false
    B:abyssalcraft.demoncow=false
    B:abyssalcraft.demonpig=false
    B:abyssalcraft.demonsheep=false
    B:abyssalcraft.depthsghoul=false
    B:abyssalcraft.dragonboss=false
    B:abyssalcraft.dragonminion=false
    B:abyssalcraft.dreadgolem=false
    B:abyssalcraft.dreadguard=false
    B:abyssalcraft.dreadling=false
    B:abyssalcraft.dreadspawn=false
    B:abyssalcraft.evilchicken=false
    B:abyssalcraft.evilcow=false
    B:abyssalcraft.evilpig=false
    B:abyssalcraft.evilsheep=false
    B:abyssalcraft.greaterdreadspawn=false
    B:abyssalcraft.gskeleton=false
    B:abyssalcraft.jzaharminion=false
    B:abyssalcraft.lesserdreadbeast=false
    B:abyssalcraft.lessershoggoth=false
    B:abyssalcraft.omotholghoul=false
    B:abyssalcraft.remnant=false
    B:abyssalcraft.shadowbeast=false
    B:abyssalcraft.shadowboss=false
    B:abyssalcraft.shadowcreature=false
    B:abyssalcraft.shadowmonster=false
    B:abyssalcraft.shuboffspring=false
    B:afrit=false
    B:aglebemu=false
    B:amalgalich=false
    B:archer=false
    B:archvile=false
    B:argus=false
    B:arix=false
    B:artifacts.mimic=false
    B:asmodeus=false
    B:astaroth=false
    B:atum.assassin=false
    B:atum.barbarian=false
    B:atum.bonestorm=false
    B:atum.brigand=false
    B:atum.forsaken=false
    B:atum.mummy=false
    B:atum.nomad=false
    B:atum.pharaoh=false
    B:atum.scarab=false
    B:atum.stoneguard=false
    B:atum.stonewarden=false
    B:atum.tarantula=false
    B:atum.warlord=false
    B:atum.wraith=false
    B:banshee=false
    B:barako=false
    B:barakoan_barakoana=false
    B:barakoan_player=false
    B:barakoana=false
    B:barakoaya=false
    B:behemoth=false
    B:belph=false
    B:bewitchment.bafometyr=false
    B:bewitchment.baphomet=false
    B:bewitchment.black_dog=false
    B:bewitchment.cambion=false
    B:bewitchment.cleaver=false
    B:bewitchment.demon=false
    B:bewitchment.demoness=false
    B:bewitchment.druden=false
    B:bewitchment.feuerwurm=false
    B:bewitchment.ghost=false
    B:bewitchment.hellhound=false
    B:bewitchment.imp=false
    B:bewitchment.leonard=false
    B:bewitchment.shadow_person=false
    B:bewitchment.werewolf=false
    B:"botania:pinkWither"=false
    B:burn_voker=false
    B:calpod=false
    B:cinder=false
    B:clink=false
    B:cockatrice=false
    B:conba=false
    B:cryptkeeper=false
    B:cyclops=false
    B:darkling=false
    B:djinn=false
    B:dread_beast=false
    B:dread_ghoul=false
    B:dread_knight=false
    B:dread_lich=false
    B:dread_scuttler=false
    B:dread_thrall=false
    B:"dungeontactics:towerguardian"=true
    B:dweller=false
    B:"ebwizardry:blaze_minion"=false
    B:"ebwizardry:evil_wizard"=false
    B:"ebwizardry:husk_minion"=true
    B:"ebwizardry:ice_wraith"=false
    B:"ebwizardry:lightning_wraith"=false
    B:"ebwizardry:magic_slime"=false
    B:"ebwizardry:remnant"=false
    B:"ebwizardry:silverfish_minion"=false
    B:"ebwizardry:skeleton_minion"=true
    B:"ebwizardry:spider_minion"=true
    B:"ebwizardry:stray_minion"=true
    B:"ebwizardry:vex_minion"=false
    B:"ebwizardry:wither_skeleton_minion"=true
    B:"ebwizardry:zombie_minion"=true
    B:eechetik=false
    B:enchanter=false
    B:ent=false
    B:epion=false
    B:erebus.antlion=false
    B:erebus.antlion_boss=false
    B:erebus.antlion_mini_boss=false
    B:erebus.bed_bug=false
    B:erebus.black_widow=false
    B:erebus.bog_maw=false
    B:erebus.bombardier_beetle=false
    B:erebus.bombardier_beetle_larva=false
    B:erebus.bot_fly=false
    B:erebus.bot_fly_larva=false
    B:erebus.centipede=false
    B:erebus.chameleon_tick=false
    B:erebus.crushroom=false
    B:erebus.dragon_fly=false
    B:erebus.fire_ant=false
    B:erebus.fire_ant_soldier=false
    B:erebus.jumping_spider=true
    B:erebus.lava_web_spider=false
    B:erebus.locust=false
    B:erebus.magma_crawler=false
    B:erebus.midge_swarm=false
    B:erebus.money_spider=false
    B:erebus.mosquito=false
    B:erebus.pond_skater=false
    B:erebus.praying_mantis=false
    B:erebus.punchroom=false
    B:erebus.scorpion=false
    B:erebus.scytodes=false
    B:erebus.solifuge=false
    B:erebus.solifuge_small=false
    B:erebus.tarantula=false
    B:erebus.tarantula_baby=false
    B:erebus.tarantula_mini_boss=false
    B:erebus.umber_golem_idol=false
    B:erebus.velvet_worm=false
    B:erebus.wasp=false
    B:erebus.zombie_ant=false
    B:erebus.zombie_ant_soldier=false
    B:ettin=false
    B:eye=false
    B:ferrous_wroughtnaut=false
    B:fire_minion=false
    B:foliaath=false
    B:forest_voker=false
    B:forseer=false
    B:frenzy=false
    B:frostmaw=false
    B:frostweaver=false
    B:furantur=false
    B:geist=false
    B:geken=false
    B:geonach=false
    B:ghoul=false
    B:gorgomite=false
    B:gorgon=false
    B:grottol=false
    B:grue=false
    B:herma=false
    B:hoarder=false
    B:if_hydra=false
    B:if_troll=false
    B:illager_king=false
    B:ioray=false
    B:jabberwock=false
    B:jengu=false
    B:khalk=false
    B:kobold=false
    B:krake=false
    B:lacedon=false
    B:lava_golem=false
    B:lobber=false
    B:magicchicken=false
    B:manticore=false
    B:midnight.hunter=false
    B:midnight.nova=false
    B:midnight.penumbrian=false
    B:midnight.rifter=false
    B:midnight.stinger=false
    B:midnight.tree_hopper=false
    B:mimic=false
    B:monoliths=false
    B:morock=false
    B:naga=false
    B:necromancer=false
    B:nemesissystem_husk=true
    B:nemesissystem_pig_zombie=false
    B:nemesissystem_skeleton=true
    B:nemesissystem_stray=true
    B:nemesissystem_zombie=true
    B:nemesissystem_zombie_villager=true
    B:"netherex:brute"=false
    B:"netherex:coolmar_spider"=true
    B:"netherex:ember"=false
    B:"netherex:frost"=false
    B:"netherex:ghast_queen"=false
    B:"netherex:ghastling"=false
    B:"netherex:mogus"=false
    B:"netherex:nethermite"=false
    B:"netherex:salamander"=false
    B:"netherex:spinout"=false
    B:"netherex:spore"=false
    B:"netherex:spore_creeper"=false
    B:"netherex:wight"=false
    B:nitrocreeper=false
    B:pink_slime=false
    B:pixen=false
    B:primitivemobs.baby_spider=false
    B:primitivemobs.bewitched_tome=false
    B:primitivemobs.blazing_juggernaut=false
    B:primitivemobs.brain_slime=false
    B:primitivemobs.festive_creeper=false
    B:primitivemobs.flame_spewer=false
    B:primitivemobs.goblin=false
    B:primitivemobs.harpy=false
    B:primitivemobs.haunted_tool=false
    B:primitivemobs.mimic=false
    B:primitivemobs.mother_spider=false
    B:primitivemobs.rocket_creeper=false
    B:primitivemobs.skeleton_warrior=true
    B:primitivemobs.support_creeper=false
    B:primitivemobs.treasure_slime=false
    B:primitivemobs.trollager=false
    B:pvj_banshee=false
    B:pvj_ghost=false
    B:pvj_goon=false
    B:pvj_icecube=false
    B:pvj_shade=false
    B:pvj_skeletal_knight=true
    B:pvj_watcher=false
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:foxhound"=false
    B:"quark:pirate"=true
    B:"quark:wraith"=true
    B:quetzodracl=false
    B:quillbeast=false
    B:rahovart=false
    B:raiko=false
    B:reaper=false
    B:reiver=false
    B:remobra=false
    B:roa=false
    B:roc=false
    B:salamander=false
    B:sentry=false
    B:shambler=false
    B:siren=false
    B:skelet_voker=false
    B:skylus=false
    B:spectre=false
    B:spiderstpo.better_cave_spider=false
    B:spiderstpo.better_spider=false
    B:spriggan=false
    B:sspillager=false
    B:stone_monster=false
    B:stymphalianbird=false
    B:sun_spirit=false
    B:sutiramu=false
    B:sylph=false
    B:tarantula=false
    B:tconstruct.blueslime=false
    B:"tfspellpack:carminite_ghastling_minion"=false
    B:"tfspellpack:cave_troll_minion"=false
    B:"tfspellpack:druid_mage"=false
    B:"tfspellpack:fire_beetle_minion"=false
    B:"tfspellpack:redcap_goblin_minion"=false
    B:"tfspellpack:redcap_sapper_minion"=false
    B:"tfspellpack:skeleton_druid_minion"=true
    B:"tfspellpack:slime_beetle_minion"=false
    B:"tfspellpack:snow_guardian_minion"=false
    B:"tfspellpack:stable_ice_core_minion"=false
    B:"tfspellpack:twilight_wraith_minion"=false
    B:"tfspellpack:unstable_ice_core_minion"=false
    B:thaumicaugmentation.autocaster_eldritch=false
    B:thaumicaugmentation.eldritch_golem=false
    B:thaumicaugmentation.eldritch_guardian=false
    B:thaumicaugmentation.eldritch_warden=false
    B:thaumicaugmentation.primal_wisp=false
    B:thebetweenlands.angler=false
    B:thebetweenlands.ash_sprite=false
    B:thebetweenlands.barrishee=false
    B:thebetweenlands.blood_snail=false
    B:thebetweenlands.boulder_sprite=false
    B:thebetweenlands.chiromaw=false
    B:thebetweenlands.chiromaw_greebling_rider=false
    B:thebetweenlands.chiromaw_matriarch=false
    B:thebetweenlands.crypt_crawler=false
    B:thebetweenlands.dark_druid=false
    B:thebetweenlands.dreadful_mummy=false
    B:thebetweenlands.emberling_shaman=false
    B:thebetweenlands.fortress_boss=false
    B:thebetweenlands.fortress_boss_blockade=false
    B:thebetweenlands.fortress_boss_spawner=false
    B:thebetweenlands.fortress_boss_turret=false
    B:thebetweenlands.gas_cloud=false
    B:thebetweenlands.large_sludge_worm=false
    B:thebetweenlands.leech=false
    B:thebetweenlands.lurker=false
    B:thebetweenlands.moving_spawner_hole=false
    B:thebetweenlands.peat_mummy=false
    B:thebetweenlands.pyrad=false
    B:thebetweenlands.shambler=false
    B:thebetweenlands.silt_crab=false
    B:thebetweenlands.sludge=false
    B:thebetweenlands.sludge_menace=false
    B:thebetweenlands.small_sludge_worm=false
    B:thebetweenlands.smoll_sludge=false
    B:thebetweenlands.spirit_tree_face_large=false
    B:thebetweenlands.spirit_tree_face_small=false
    B:thebetweenlands.stalker=false
    B:thebetweenlands.swamp_hag=false
    B:thebetweenlands.swarm=false
    B:thebetweenlands.tar_beast=false
    B:thebetweenlands.termite=false
    B:thebetweenlands.tiny_sludge_worm=false
    B:thebetweenlands.tiny_sludge_worm_helper=false
    B:thebetweenlands.wall_lamprey=false
    B:thebetweenlands.wall_living_root=false
    B:thebetweenlands.wight=false
    B:thebetweenlands.wild_emberling=false
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:thresher=false
    B:toroquest_bas=true
    B:toroquest_mage=false
    B:toroquest_monolitheye=false
    B:toroquest_rainbow_guard=false
    B:toroquest_rainbow_king=false
    B:toroquest_vampire_bat=false
    B:"totemic:baykok"=false
    B:treant=false
    B:tree_monster=false
    B:tremor=false
    B:triffid=false
    B:trite=false
    B:troll=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=true
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=true
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=true
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.rising_zombie=true
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=true
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=true
    B:twilightforest.tower_broodling=true
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:valkyrie=false
    B:valkyrie_queen=false
    B:vampirism.ghost=false
    B:vapula=false
    B:vespid=false
    B:vespidqueen=false
    B:volcan=false
    B:wasp=false
    B:wendigo=false
    B:wfpillager=false
    B:whirlwind=false
    B:wildkin=false
    B:wither_voker=false
    B:wraamon=false
    B:wraith=false
    B:xaphan=false
    B:zephyr=false
    B:zoataur=false
}


